@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
  }

  .contact-btn{
    @apply mt-4 block w-full py-4 bg-blue-600 text-white text-center font-bold rounded-xl
  }
  .link{
    @apply text-sm text-gray-600 hover:text-blue-600 hover:-translate-y-1/6 transition-transform;
  }